# Shell binaries installed to the local path shouldn't be checked in. TODO: I should drop the
# in_path part and make the scripts into library functions.
/in_path/bin/

# Let systems manage their own neovim plugin versions
/configs/nvim/lazyvim.json

# System specific SSH configs, and the actual generated version, are not checked in. This can be
# updated by running the shell library function (`_plc rebuild_ssh_config`).
/configs/ssh/config

/configs/ssh/system/*.cfg.inc

# Still being held over from a legacy way I managed fonts, kind of half-transitioned for now but
# make sure I don't check these in.
/fonts/.uuid

/.aider*
