[submodule "vim/bundle/vundle"]
	path = vim/bundle/vundle
	url = http://github.com/gmarik/vundle.git
  ignore = dirty
[submodule "vim/bundle/tabular"]
  path = vim/bundle/tabular
	url = https://github.com/godlygeek/tabular.git
  ignore = dirty
[submodule "vim/bundle/vim-coffee-script"]
  path = vim/bundle/vim-coffee-script
	url = https://github.com/kchmck/vim-coffee-script.git
  ignore = dirty
[submodule "vim/bundle/vim-fugitive"]
  path = vim/bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
  ignore = dirty
[submodule "vim/bundle/vim-git"]
  path = vim/bundle/vim-git
	url = https://github.com/tpope/vim-git.git
  ignore = dirty
[submodule "vim/bundle/vim-rails"]
  path = vim/bundle/vim-rails
	url = https://github.com/tpope/vim-rails.git
  ignore = dirty
