[Unit]
Description=CEV Scheduled Task Service
After=network.target

[Service]
Type=oneshot
Environment=CEV_CFG_DIR=/home/sstelfox/.config/cev
Environment=CEV_DATA_DIR=/home/sstelfox/.local/share/cev
Environment=PATH=/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin:/home/sstelfox/.local/bin
ExecStart=/home/sstelfox/workspace/python/cev/cev --log-level info run -s system-events/scheduled -n execute-queue -- --limit-time 55
